<nav class='navbar navbar-default'>
  <div class='container'>
      <ul class='nav navbar-nav navbar-left'>
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete%>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign in', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
        <li>
          <%= link_to 'Secret page', secret_path %>
        </li>
        <li>
          <%= link_to 'Not a secret page', pub_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
